{% extends 'basics.html' %}

{% block content %}
    <div class="flex navbar">
        <h1>Library</h1>
        <div class="both-button">
            <a href="/add/">
                <button class="btn btn-warning btn-sm custom-btn" role="button">Add a Book</button>
            </a>
            <a href="/update/">
                <button class="btn btn-warning btn-sm custom-btn" role="button">Update a Book</button>
            </a>
        </div>
    </div>
    
    {% for book in books %}
        
        <div class="card-style">
            <h3>{{book.name}} (UID:{{book.id}})</h3>
            <h5 class="grid-child-start">Price : {{book.price}}</h5>
            <h5 class="grid-child-start" style="color: #fccb06 ">After Discount: {{book.our_price}} </h5>
            <div class="both-button both-button-card">
                <a href="/book/{{book.id}}/">
                    <button class="btn btn-warning btn-sm custom-btn" role="button">Read More</button>
                </a><a href="/delete/{{book.id}}/">
                    <button class="btn btn-warning btn-sm custom-btn" role="button">Delete</button>
                </a>
            </div>
        </div>
        <hr>
        
    {% endfor %}
{% endblock %}
