{% extends "basics.html" %}

{% block content %}
<h1 class="navbar">
    Add a Book to the library 
</h1>

<form method='POST' action="/update/"> {% csrf_token %}
    <label for="ID">UID</label><br>
    <input type="number" name="id" required>
    <br><br>
    <label for="name">Name</label><br>
    <input type="text" name="name" maxlength="64">
    <br><br>
    <label for="desc">Description</label><br>
    <input type="text-area" name="desc" maxlength="500">
    <br><br>
    <label for="number_of_pages">No. of pages</label><br>
    <input type="number" name="number_of_pages">
    <br><br>
    <label for="price">Price</label><br>
    <input type="number" name="price">
    <br><br>
    <button class="btn btn-warning btn-sm custom-btn" type="submit">Update</button>
</form>

<hr> <hr>
<a href="/">
    <button class="btn btn-warning btn-sm custom-btn" role="button">Back to list</button>
</a>

{% endblock content %}